/*  bhoechie tab */

div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
    height: 100%;
    width: 100%;
}

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    height: 100%;
    border-right: 1px solid #ddd;
}

div.bhoechie-tab-menu div.list-group {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #5A55A3;
}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa {
    background-color: #5A55A3;
    background-image: #5A55A3;
    color: #ffffff;
}